<a href="https://colab.research.google.com/github/cs575ts/Assignments/blob/main/Assignment_1/CS575_Assignment1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Basic Descriptive Stats

##Load Numpy, Pandas and other Libraries

In [72]:
import pandas as pd
import numpy as np
import statistics

### Load Dataset "Inc_Exp_Data.csv" using Pandas

In [73]:
df = pd.read_csv("Inc_Exp_Data.csv")

### Defining my summation function to use all along the assignment

In [75]:
def sums(num):
    sum = 0
    for i in num:
        sum = sum + i
    return sum

Analyze the data using pandas info() *function*

In [76]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 0 to 49
Data columns (total 7 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Mthly_HH_Income           50 non-null     int64
 1   Mthly_HH_Expense          50 non-null     int64
 2   No_of_Fly_Members         50 non-null     int64
 3   Emi_or_Rent_Amt           50 non-null     int64
 4   Annual_HH_Income          50 non-null     int64
 5   Highest_Qualified_Member  50 non-null     object
 6   No_of_Earning_Members     50 non-null     int64
dtypes: int64(6), object(1)
memory usage: 2.9+ KB

Analyze the data using pandas describe() *function*

In [77]:
df.describe()

       Mthly_HH_Income  ...  No_of_Earning_Members
count        50.000000  ...              50.000000
mean      41558.000000  ...               1.460000
std       26097.908979  ...               0.734291
min        5000.000000  ...               1.000000
25%       23550.000000  ...               1.000000
50%       35000.000000  ...               1.000000
75%       50375.000000  ...               2.000000
max      100000.000000  ...               4.000000

[8 rows x 6 columns]

Analyze the data using pandas shape object

In [78]:
df.shape

(50, 7)

Check for missing values

In [84]:
print(df.isnull().sum())
print("_______________")
print("No missing values in the data set")

Mthly_HH_Income             0
Mthly_HH_Expense            0
No_of_Fly_Members           0
Emi_or_Rent_Amt             0
Annual_HH_Income            0
Highest_Qualified_Member    0
No_of_Earning_Members       0
dtype: int64
_______________
No missing values in the data set

What is the Mean Expense of a Household? Compute mean using Inbuilt pandas function and write your own function for the same.

In [86]:
#Checking dataset
df

    Mthly_HH_Income  ...  No_of_Earning_Members
0              5000  ...                      1
1              6000  ...                      1
2             10000  ...                      1
3             10000  ...                      1
4             12500  ...                      1
5             14000  ...                      1
6             15000  ...                      1
7             18000  ...                      1
8             19000  ...                      1
9             20000  ...                      2
10            20000  ...                      2
11            22000  ...                      1
12            23400  ...                      1
13            24000  ...                      2
14            24000  ...                      2
15            25000  ...                      1
16            25000  ...                      1
17            25000  ...                      3
18            29000  ...                      1
19            30000  ...                      1
20            30500  ...                      1
21            32000  ...                      1
22            34000  ...                      1
23            34000  ...                      1
24            35000  ...                      1
25            35000  ...                      2
26            39000  ...                      1
27            40000  ...                      1
28            42000  ...                      1
29            43000  ...                      1
30            45000  ...                      3
31            45000  ...                      2
32            45000  ...                      1
33            45000  ...                      1
34            46000  ...                      1
35            47000  ...                      4
36            50000  ...                      1
37            50500  ...                      2
38            55000  ...                      2
39            60000  ...                      1
40            60000  ...                      1
41            65000  ...                      2
42            70000  ...                      1
43            80000  ...                      1
44            85000  ...                      2
45            90000  ...                      3
46            98000  ...                      2
47           100000  ...                      3
48           100000  ...                      2
49           100000  ...                      1

[50 rows x 7 columns]

In [87]:
expence = df.iloc[:,1]
def my_mean(num):
    sum = 0
    for i in num:
        sum = sum + i

    mean = sum / len(num)
    return mean

In [91]:
print("Mean Expense of a Household using my own function:")
print(my_mean(expence))
print("Mean Expense of a Household using inbuilt function:")
print(df.iloc[:,[1]].mean(axis = 0))

Mean Expense of a Household using my own function
18818.0
Mean Expense of a Household using inbuilt function
Mthly_HH_Expense    18818.0
dtype: float64

What is the Median Household Expense? Compute Median using Inbuilt pandas function and write your own function for the same.

In [93]:
assend_expence = sorted(expence)

In [16]:
def my_median(m):
  if len(m)%2!=0:
    m1 = assend_expence[int((len(m+1)/2)-1)]
  else:
    m1 = (assend_expence[int((len(m)/2)-1)] + assend_expence[int((len(m)/2))])/2 
  return m1

In [94]:
print("Median Household Expense using my own function:")
print(my_median(assend_expence))
print("Median Household Expense using inbuilt function:")
print(statistics.median(assend_expence))

Median Household Expense using my own function:
15500.0
None
Median Household Expense using inbuilt function:
15500.0

What is the Monthly Expense for most of the Households?

In [97]:
import statistics
print("Monthly Expense for most of the Households are :")
print(statistics.mode(expence))

Monthly Expense for most of the Households are :
25000

Calculate IQR(difference between 75% and 25% quartile)

In [161]:
from scipy import stats
print("IQR for colum 1 is: " + str(stats.iqr(column_1, interpolation = 'midpoint')))
print("IQR for colum 2 is: " + str(stats.iqr(column_2, interpolation = 'midpoint')))
print("IQR for colum 3 is: " + str(stats.iqr(column_3, interpolation = 'midpoint')))
print("IQR for colum 4 is: " + str(stats.iqr(column_4, interpolation = 'midpoint')))
print("IQR for colum 5 is: " + str(stats.iqr(column_5, interpolation = 'midpoint')))
print("IQR for colum 7 is: " + str(stats.iqr(column_7, interpolation = 'midpoint')))

IQR for colum 1 is: 26550.0
IQR for colum 2 is: 15000.0
IQR for colum 3 is: 2.0
IQR for colum 4 is: 3500.0
IQR for colum 5 is: 333780.0
IQR for colum 7 is: 1.0

Calculate Standard Deviation for first 4 columns. Compute Standard Deviation using Inbuilt pandas function and write your own function for the same.

In [102]:
import math
column_1=df.iloc[:,0]
column_2=df.iloc[:,1]
column_3=df.iloc[:,2]
column_4=df.iloc[:,3]
column_5=df.iloc[:,4]
column_7=df.iloc[:,6]

In [103]:
def my_std_dev(column_name):
  sd = 0
  n = len(column_name)
  mean = float(sums(column_name)/n)
  for i in column_name:
    sd += (float(i) - mean)**2
  sd = math.sqrt(sd / float(n-1))
  return sd

In [123]:
print("Standard Deviation for first 4 columns using my own function respectievly are:")
print("Column 1:   " + str(my_std_dev(column_1)))
print("Column 2:   " + str(my_std_dev(column_2)))
print("Column 3:   " + str(my_std_dev(column_3)))
print("Column 4:   " + str(my_std_dev(column_4)))
print("______________________________________")
print("Standard Deviation for first 4 columns using inbuilt function respectievly are:")
print("Column 1:   " + str(column_1.std()))
print("Column 2:   " + str(column_2.std()))
print("Column 3:   " + str(column_3.std()))
print("Column 4:   " + str(column_4.std()))

Standard Deviation for first 4 columns using my own function respectievly are:
Column 1:   26097.908978713687
Column 2:   12090.216824240286
Column 3:   1.5173822786601394
Column 4:   6241.434947516607
______________________________________
Standard Deviation for first 4 columns using inbuilt function respectievly are:
Column 1:   26097.908978713687
Column 2:   12090.216824240286
Column 3:   1.5173822786601394
Column 4:   6241.434947516607

Calculate Variance for first 3 columns. Compute Variance using Inbuilt pandas 
function and write your own function for the same.

In [124]:
def my_var(column_name):
  var = 0
  n = len(column_name)
  mean = float(sums(column_name)/n)
  for i in column_name:
    var += (float(i) - mean)**2
  var = (var / float(n-1))
  return var

In [127]:
print("Variance for first 3 columns using my own function respectievly are:")
print("Column 1:   " + str(my_var(column_1)))
print("Column 2:   " + str(my_var(column_2)))
print("Column 3:   " + str(my_var(column_3)))
print("______________________________________")
print("Variance for first 3 columns using inbuilt function respectievly are:")
print("Column 1:   " + str(column_1.var()))
print("Column 2:   " + str(column_2.var()))
print("Column 3:   " + str(column_3.var()))

Variance for first 3 columns using my own function respectievly are:
Column 1:   681100853.0612245
Column 2:   146173342.85714287
Column 3:   2.302448979591837
______________________________________
Variance for first 3 columns using inbuilt function respectievly are:
Column 1:   681100853.0612245
Column 2:   146173342.85714287
Column 3:   2.302448979591837

Calculate Skewness for first 3 columns. Compute Skewness using Inbuilt pandas function and write your own function for the same.

In [26]:
def my_skewns(column_name):
  s1=0
  sd=0
  n = len(column_name)
  mean = float(sums(column_name)/n)
  for i in column_name:
    s1+= (float(i) - mean)**3
  for j in column_name:
    sd += (float(j) - mean)**2
  std = math.sqrt(sd / float(n))
  skews = s1/((n-1)*(std**3))
  return skews

In [128]:
print("Skewness for first 3 columns using my own function respectievly are:")
print("Column 1:   " + str(my_skewns(column_1)))
print("Column 2:   " + str(my_skewns(column_2)))
print("Column 3:   " + str(my_skewns(column_3)))
print("______________________________________")
print("Skewness for first 3 columns using inbuilt function respectievly are:")
print("Column 1:   " + str(column_1.skew()))
print("Column 2:   " + str(column_2.skew()))
print("Column 3:   " + str(column_3.skew()))

Skewness for first 3 columns using my own function respectievly are:
Column 1:   0.9149408033669727
Column 2:   1.1869110683274116
Column 3:   0.11248480307967186
______________________________________
Skewness for first 3 columns using inbuilt function respectievly are:
Column 1:   0.9246148763777229
Column 2:   1.1994608030097127
Column 3:   0.11367415455857431

Calculate Kurtosis for first 3 columns. Compute Kurtosis using Inbuilt pandas function and write your own function for the same.

In [28]:
def my_kurtosis(column_name):
  k1=0
  sd=0
  n = len(column_name)
  mean = float(sums(column_name)/n)
  for i in column_name:
    k1+= (float(i) - mean)**4
  for j in column_name:
    sd += (float(j) - mean)**2
  std = math.sqrt(sd / float(n))
  kurt = k1/((n-1)*(std**4))
  return kurt-3

In [132]:
print("Kurtosis for first 3 columns using my own function respectievly are:")
print("Column 1:   " + str(my_kurtosis(column_1)))
print("Column 2:   " + str(my_kurtosis(column_2)))
print("Column 3:   " + str(my_kurtosis(column_3)))
print("------------------------------------------")
print("Kurtosis for first 3 columns using inbuilt function respectievly are:")
print("Column 1:   " + str(column_1.kurtosis()))
print("Column 2:   " + str(column_2.kurtosis()))
print("Column 3:   " + str(column_3.kurtosis()))

Kurtosis for first 3 columns using my own function respectievly are:
Column 1:   0.0476194401137775
Column 2:   0.8093837384589446
Column 3:   -0.8431613146456525
------------------------------------------
Kurtosis for first 3 columns using inbuilt function respectievly are:
Column 1:   0.11555007146606489
Column 2:   0.9424897886350738
Column 3:   -0.8514445579758396

Find the correlation coeeficient between the "Mthly_HH_Income" and	"Mthly_HH_Expense". Compute correlation coeeficient using Inbuilt pandas function and write your own function for the same.

In [133]:
expence = df.iloc[:,1]
income = df.iloc[:,0]
def my_corelatn(column_name1,column_name2):
  n = len(column_name1)
  c1 = my_mean(column_name1)
  c2 = my_mean(column_name2)
  psum = sums((xi-c1)*(yi-c2) for xi, yi in zip(column_name1, column_name2))
  std1 = my_std_dev(column_name1)
  std2 = my_std_dev(column_name2)
  corltn = psum/(std1*std2*(n-1))
  return corltn

In [134]:
print("correlation coeeficient between the Mthly_HH_Income and Mthly_HH_Expense using my own function: ")
print(income.corr(expence))
print("correlation coeeficient between the Mthly_HH_Income and Mthly_HH_Expense using inbuilt function: ")
print(my_corelatn(income,expence))

correlation coeeficient between the Mthly_HH_Income and Mthly_HH_Expense using my own function:
0.6492152549316462
correlation coeeficient between the Mthly_HH_Income and Mthly_HH_Expense using inbuilt function:
0.6492152549316461

Calculate the total counts under each qualification

In [135]:
df["Highest_Qualified_Member"].value_counts()

Graduate          19
Under-Graduate    10
Professional      10
Post-Graduate      6
Illiterate         5
Name: Highest_Qualified_Member, dtype: int64

Compute logarithmic mean of the first two cols using your own function

In [136]:
def my_log_mean(column_name):
  x = min(column_name)
  y = max(column_name)
  log_mean = (y - x)/(np.log(y)-np.log(x))
  return log_mean

In [137]:
print("Logarithmic mean of the first column:")
print(my_log_mean(column_1))
print("Logarithmic mean of the second column:")
print(my_log_mean(column_2))

Logarithmic mean of the first column:
31711.77906605674
Logarithmic mean of the second column:
14912.038429430682

Compute geometric mean of the first two cols using your own  function and verify using inbuilt Python function

In [138]:
def my_gm(column_name):
  n = len(column_name)
  multiply = 1
  for i in column_name:
    multiply = multiply*i
  g_mean = (multiply)**(1/n)
  return g_mean

In [139]:
print("geometric mean of the first two column using my own function : ")
print("Column 1:   " + str(my_gm(column_1)))
print("Column 2:   " + str(my_gm(column_2)))
from scipy.stats.mstats import gmean
print("geometric mean of the first two column using inbuilt function : ")
print("Column 1:   " + str(gmean(column_1)))
print("Column 2:   " + str(gmean(column_2)))

geometric mean of the first two column using my own function :
Column 1:   33590.377540213965
Column 2:   15391.899582223135
geometric mean of the first two column using inbuilt function :
Column 1:   33590.37754021395
Column 2:   15391.89958222314

Compute *Mean Deviation from the Mean* of the first two cols using your own  function and verify using inbuilt Python function

In [142]:
def my_mean_devn(column_name):
  md1 = my_mean(column_name)
  n = len(column_name)
  devn = 0
  for i in column_name:
    devn+=(i-md1)
  return (devn/n)

In [144]:
print("Mean Deviation from the Mean of the first two columns are: ")
print("Column 1:   " + str(my_mean_devn(column_1)))
print("Column 2:   " + str(my_mean_devn(column_2)))

#Could not find inbuilt function for Mean deviation from Mean

Mean Deviation from the Mean of the first two columns are:
Column 1:   0.0
Column 2:   0.0

Compute *Mean Absolute Deviation from the Mean* of the first two cols using your own function and verify using inbuilt Python function

In [147]:
def my_mean_abs_devn(column_name):
  md1 = my_mean(column_name)
  n = len(column_name)
  devn = 0
  for i in column_name:
    devn+=abs(i-md1)
  return (devn/n)

In [150]:
print("Mean absolute deviation of column 1 and column 2 using my own function: ")
print("Column 1:   " + str(my_mean_abs_devn(column_1)))
print("Column 1:   " + str(my_mean_abs_devn(column_2)))
print("Mean absolute deviation of column 1 and column 2 using inbuilt Function: ")
print("Column 1:   " + str(column_1.mad()))
print("Column 2:   " + str(column_2.mad()))

Mean absolute deviation of column 1 and column 2 using my own function:
Column 1:   20288.96
Column 1:   9247.44
Mean absolute deviation of column 1 and column 2 using inbuilt Function:
Column 1:   20288.96
Column 2:   9247.44

Compute *Coefficient of Variation* of the first two cols using your own function and verify using inbuilt Python function

In [153]:
def coef_of_vartn(column_name):
  sd = 0
  n = len(column_name)
  mean = float(sums(column_name)/n)
  for i in column_name:
    sd+=(float(i)-mean)**2
  sd = (sd/(n))**(1/2)
  cof = (sd)/mean
  return (cof)

In [155]:
from scipy.stats import variation
print("Coefficient of Variation of column 1 and column 2 using my own function: ")
print("Column 1:   " + str(coef_of_vartn(column_1)))
print("Column 1:   " + str(coef_of_vartn(column_2)))
print("Coefficient of Variation of column 1 and column 2 using inbuilt Function: ")
print("Column 1:   " + str(variation(column_1)))
print("Column 2:   " + str(variation(column_2)))

Coefficient of Variation of column 1 and column 2 using my own function:
Column 1:   0.6216760137420672
Column 1:   0.636024233362227
Coefficient of Variation of column 1 and column 2 using inbuilt Function:
Column 1:   0.6216760137420672
Column 2:   0.636024233362227

Compute z score  for all numerical cols using your own function  and verify using inbuilt Python function

In [41]:
def my_zscore(column_name):
  z = 0
  sd = 0
  a =[]
  n = len(column_name)
  for i in column_name:
    z+=i
  mean = z/n
  for j in column_name:
    sd+=(float(j)-mean)**2
  sd = (sd/float(n))**(1/2)
  for k in column_name:
    z_score = (k-mean)/sd
    #print(z_score)
    a.append(z_score)
  return a

In [156]:
# Z score using my own function
from pandas import DataFrame
arr = {'Mthly_HH_Income': my_zscore(column_1), 'Mthly_HH_Expense': my_zscore(column_2), 'No_of_Fly_Members': my_zscore(column_3),'Emi_or_Rent_Amt': my_zscore(column_4),'Annual_HH_Income': my_zscore(column_5), 'No_of_Earning_Members': my_zscore(column_7)}
arrn = pd.DataFrame(data=arr)
print(" Z score for all numerical cols using my own function")
arrn

 Z score for all numerical cols using my own function

    Mthly_HH_Income  Mthly_HH_Expense  ...  Annual_HH_Income  No_of_Earning_Members
0         -1.415024         -0.903857  ...         -1.343624              -0.632815
1         -1.376317         -0.987408  ...         -1.294021              -0.632815
2         -1.221492         -1.196287  ...         -1.190272              -0.632815
3         -1.221492         -1.405165  ...         -1.239496              -0.632815
4         -1.124727         -0.569652  ...         -1.082358              -0.632815
5         -1.066667         -0.903857  ...         -0.925977              -0.632815
6         -1.027961         -0.235447  ...         -1.017988              -0.632815
7         -0.911842          0.098758  ...         -0.864636              -0.632815
8         -0.873136         -0.820306  ...         -0.855549              -0.632815
9         -0.834430         -0.820306  ...         -0.849490               0.742869
10        -0.834430         -0.068345  ...         -0.667740               0.742869
11        -0.757017          0.516514  ...         -0.663196              -0.632815
12        -0.702828         -1.154511  ...         -0.624726              -0.632815
13        -0.679605         -0.694979  ...         -0.546573               0.742869
14        -0.679605         -0.736755  ...         -0.773761               0.742869
15        -0.640898         -0.544587  ...         -0.769975              -0.632815
16        -0.640898          0.098758  ...         -0.722644              -0.632815
17        -0.640898         -0.736755  ...         -0.732110               2.118553
18        -0.486073         -1.020829  ...         -0.448125              -0.632815
19        -0.447367         -0.486101  ...         -0.330745              -0.632815
20        -0.428014          0.516514  ...         -0.437523              -0.632815
21        -0.369954         -0.318999  ...         -0.140664              -0.632815
22        -0.292542          0.015206  ...         -0.503408              -0.632815
23        -0.292542          0.516514  ...         -0.065692              -0.632815
24        -0.253836         -0.569652  ...         -0.075158              -0.632815
25        -0.253836          0.516514  ...         -0.128169               0.742869
26        -0.099011         -0.903857  ...          0.211098              -0.632815
27        -0.060304         -0.736755  ...         -0.243656              -0.632815
28         0.017108         -0.318999  ...         -0.003594              -0.632815
29         0.055814         -0.569652  ...          0.407616              -0.632815
30         0.133227          0.516514  ...          0.106592               2.118553
31         0.133227          1.769782  ...          0.055475               0.742869
32         0.133227         -0.736755  ...         -0.166033              -0.632815
33         0.133227          0.265860  ...          0.379218              -0.632815
34         0.171933          0.516514  ...          0.334916              -0.632815
35         0.210639         -0.318999  ...         -0.104693               3.494237
36         0.326758          0.098758  ...          0.252371              -0.632815
37         0.346111          0.098758  ...          0.289478               0.742869
38         0.520290          2.187538  ...          0.348926               0.742869
39         0.713821         -0.736755  ...          0.316741              -0.632815
40         0.713821          2.605295  ...          0.316741              -0.632815
41         0.907352          0.098758  ...          0.496598               0.742869
42         1.100884         -0.820306  ...          0.839273              -0.632815
43         1.487946          0.098758  ...          1.846473              -0.632815
44         1.681478          0.516514  ...          2.058515               0.742869
45         1.875009          2.438192  ...          1.248211               2.118553
46         2.184659          0.516514  ...          2.090321               0.742869
47         2.262071          0.934270  ...          2.883964               2.118553
48         2.262071          2.605295  ...          1.710160               0.742869
49         2.262071          1.769782  ...          2.618912              -0.632815

[50 rows x 6 columns]

In [157]:
# Z score using inbuilt function
import scipy.stats as stats
datanew = df.drop(["Highest_Qualified_Member"],axis = 1)
print(" Z score for all numerical cols using inbuilt function")
datanew.apply(stats.zscore)

 Z score for all numerical cols using inbuilt function

    Mthly_HH_Income  Mthly_HH_Expense  ...  Annual_HH_Income  No_of_Earning_Members
0         -1.415024         -0.903857  ...         -1.343624              -0.632815
1         -1.376317         -0.987408  ...         -1.294021              -0.632815
2         -1.221492         -1.196287  ...         -1.190272              -0.632815
3         -1.221492         -1.405165  ...         -1.239496              -0.632815
4         -1.124727         -0.569652  ...         -1.082358              -0.632815
5         -1.066667         -0.903857  ...         -0.925977              -0.632815
6         -1.027961         -0.235447  ...         -1.017988              -0.632815
7         -0.911842          0.098758  ...         -0.864636              -0.632815
8         -0.873136         -0.820306  ...         -0.855549              -0.632815
9         -0.834430         -0.820306  ...         -0.849490               0.742869
10        -0.834430         -0.068345  ...         -0.667740               0.742869
11        -0.757017          0.516514  ...         -0.663196              -0.632815
12        -0.702828         -1.154511  ...         -0.624726              -0.632815
13        -0.679605         -0.694979  ...         -0.546573               0.742869
14        -0.679605         -0.736755  ...         -0.773761               0.742869
15        -0.640898         -0.544587  ...         -0.769975              -0.632815
16        -0.640898          0.098758  ...         -0.722644              -0.632815
17        -0.640898         -0.736755  ...         -0.732110               2.118553
18        -0.486073         -1.020829  ...         -0.448125              -0.632815
19        -0.447367         -0.486101  ...         -0.330745              -0.632815
20        -0.428014          0.516514  ...         -0.437523              -0.632815
21        -0.369954         -0.318999  ...         -0.140664              -0.632815
22        -0.292542          0.015206  ...         -0.503408              -0.632815
23        -0.292542          0.516514  ...         -0.065692              -0.632815
24        -0.253836         -0.569652  ...         -0.075158              -0.632815
25        -0.253836          0.516514  ...         -0.128169               0.742869
26        -0.099011         -0.903857  ...          0.211098              -0.632815
27        -0.060304         -0.736755  ...         -0.243656              -0.632815
28         0.017108         -0.318999  ...         -0.003594              -0.632815
29         0.055814         -0.569652  ...          0.407616              -0.632815
30         0.133227          0.516514  ...          0.106592               2.118553
31         0.133227          1.769782  ...          0.055475               0.742869
32         0.133227         -0.736755  ...         -0.166033              -0.632815
33         0.133227          0.265860  ...          0.379218              -0.632815
34         0.171933          0.516514  ...          0.334916              -0.632815
35         0.210639         -0.318999  ...         -0.104693               3.494237
36         0.326758          0.098758  ...          0.252371              -0.632815
37         0.346111          0.098758  ...          0.289478               0.742869
38         0.520290          2.187538  ...          0.348926               0.742869
39         0.713821         -0.736755  ...          0.316741              -0.632815
40         0.713821          2.605295  ...          0.316741              -0.632815
41         0.907352          0.098758  ...          0.496598               0.742869
42         1.100884         -0.820306  ...          0.839273              -0.632815
43         1.487946          0.098758  ...          1.846473              -0.632815
44         1.681478          0.516514  ...          2.058515               0.742869
45         1.875009          2.438192  ...          1.248211               2.118553
46         2.184659          0.516514  ...          2.090321               0.742869
47         2.262071          0.934270  ...          2.883964               2.118553
48         2.262071          2.605295  ...          1.710160               0.742869
49         2.262071          1.769782  ...          2.618912              -0.632815

[50 rows x 6 columns]

Compute mode using your own function for the first two columns and verify using inbuilt Python function

In [158]:
def my_mode(column_name):
    mm1=set(column_name)
    mm2=[]
    mm3=[]
    for i in mm1:
        f=0
        for j in column_name:
            if i==j:
                f+=1
            pass
        mm3.append(f)
        mm2.append(i)
    for j in range(len(mm2)):
        if mm3[j]==max(mm3):
            print("mode:", mm2[j]) 
            print("frequency:" ,max(mm3))

In [63]:
print("Mode using my own function for Column 1:")
print(my_mode(column_1))
print("Mode using my own function for Column 2:")
print(my_mode(column_2))
print("__________________________________________")
print("Mode using inbuilt function for Column 1:")
print(stats.mode(column_1))
print("Mode using inbuilt function for Column 2:")
print(stats.mode(column_2))

Mode using my own function for Column 1:
mode: 45000
frequency: 4
None
Mode using my own function for Column 2:
mode: 25000
frequency: 8
None
__________________________________________
Mode using inbuilt function for Column 1:
ModeResult(mode=array([45000]), count=array([4]))
Mode using inbuilt function for Column 2:
ModeResult(mode=array([25000]), count=array([8]))

Comment if the data for the first two cols is bi-modal, multi-modal or single modal

### Both first and second column are SINGLE MODAL
### as Column 1 and column 2 have single modes as
### 4500 and 2500. Thus we can say its a Single 
### modal column.